@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --white: 0 0% 100%;

    --grayscale-50: 210 20% 98%;
    --grayscale-100: 220 14% 96%;
    --grayscale-200: 220 13% 91%;
    --grayscale-300: 216 12% 84%;
    --grayscale-400: 218 11% 65%;
    --grayscale-500: 220 9% 46%;
    --grayscale-600: 215 14% 34%;
    --grayscale-700: 217 19% 27%;
    --grayscale-800: 215 28% 17%;
    --grayscale-900: 221 39% 11%;
    --grayscale-950: 224 71% 4%;

    --pink-50: 327 73% 97%;
    --pink-100: 326 78% 95%;
    --pink-200: 326 85% 90%;
    --pink-300: 327 87% 82%;
    --pink-400: 329 86% 70%;
    --pink-500: 330 81% 60%;
    --pink-600: 333 71% 51%;
    --pink-700: 335 78% 42%;
    --pink-800: 336 74% 35%;
    --pink-900: 336 69% 30%;
    --pink-950: 336 84% 17%;
    
    --sky-50: 204 100% 97%;
    --sky-100: 204 94% 94%;
    --sky-200: 201 94% 86%;
    --sky-300: 199 95% 74%;
    --sky-400: 198 93% 60%;
    --sky-500: 199 89% 48%;
    --sky-600: 200 98% 39%;
    --sky-700: 201 96% 32%;
    --sky-800: 201 90% 27%;
    --sky-900: 202 80% 24%;
    --sky-950: 204 80% 16%;

    --background: var(--grayscale-50);
    --background-accent: var(--grayscale-200);
    --foreground: var(--grayscale-900);


    --card: var(--white);
    --card-foreground: var(--grayscale-900);
 
    --popover: var(--white);
    --popover-foreground: var(--grayscale-900);
 
    --primary-background: var(--pink-50);
    --primary-background-accent: var(--pink-200);
    --primary: var(--pink-500);
    --primary-hover: var(--pink-600);
    --primary-active: var(--pink-700);
    --primary-foreground: var(--pink-900);
 
    --secondary-background: var(--sky-50);
    --secondary-background-accent: var(--sky-200);
    --secondary: var(--sky-500);
    --secondary-hover: var(--sky-600);
    --secondary-active: var(--sky-700);
    --secondary-foreground: var(--sky-900);
 
    /* 
    
    Simplified color scheme for now.

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
 
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;

  */

    --ring: 224 71.4% 4.1%;
 
    --radius: 0.5rem;
  }
 
  /*

  Simplified color scheme for now.
  
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
 
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
 
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
 
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
 
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
 
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
 
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
 
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  } */
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .display-heading {
    @apply font-semibold text-8xl
  }

  .display-subheading {
    @apply font-normal text-6xl
  }

  h1,
  .heading1 {
    @apply font-semibold text-5xl
  }

  h2,
  .heading2 {
    @apply font-semibold text-4xl
  }

  h3,
  .heading3 {
    @apply font-semibold text-3xl
  }

  h4,
  .heading4 {
    @apply font-semibold text-2xl
  }

  h5,
  .heading5 {
    @apply font-semibold text-xl
  }

  h6,
  .heading6 {
    @apply font-semibold text-lg
  }

  p,
  span,
  .font-body {
    @apply font-medium text-lg/6
  }
}